/* 10 line uper */
ul{
    height: 46px;
    width: 100%;
    background-color: rgb(22, 22, 232);
}

.header ul{
    
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.header li{
    margin: 0 1rem;
    width: 5rem;
}
.header a{
    color: white;
    text-decoration: none;
}
.header a:hover,
.header a:active,
.header a:active{
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-block-start: 4px soild #95bcf0;
}